.category-btn{
    background-color: #002C5B !important;
    color: #fff !important;
    transition: all 0.5s !important;
}
.category-btn:hover{
    background-color: orangered !important;

}
.card-hover:hover{
    box-shadow: 0px 0px 10px 5px rgba(1, 1, 102, 0.116) ; 
}